<div id="courseWrapper">
  <div id="courseContainer">
    <h1>〇〇の時間割表</h1>

    <div id="weekSchedule">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul>
                <li>１時間目</li>
                <li>1:00-2:00</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>授業名：</li>
                <li>教員名：</li>
                <li>ZoomID</li>
                <li>PASS</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>授業名：</li>
                <li>教員名：</li>
                <li>ZoomID</li>
                <li>PASS</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>授業名：</li>
                <li>教員名：</li>
                <li>ZoomID</li>
                <li>PASS</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>授業名：</li>
                <li>教員名：</li>
                <li>ZoomID</li>
                <li>PASS</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>授業名：</li>
                <li>教員名：</li>
                <li>ZoomID</li>
                <li>PASS</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>授業名：</li>
                <li>教員名：</li>
                <li>ZoomID</li>
                <li>PASS</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>授業名：</li>
                <li>教員名：</li>
                <li>ZoomID</li>
                <li>PASS</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>